html{
  scroll-behavior: smooth;
}
body{
  height: 100vh;
  /* background: rgba(234, 115, 50, .6); */
  /* background: #997E57; */
  /* background: #5C5698; */
  background: #102467;
}

.rich-editor .DraftEditor-editorContainer {
  /* background: rgba(255,255,255,.75); */
  background: rgba(211, 211, 211,1);
  padding: .5rem;
} 
.DraftEditor-root{
  height: 700px;
  width: 900px;
  line-height: 2
}
.editor-field{
  border: 2px solid #808080;
  border-radius: 5px
}
.editor{
  background-color: #fff;
}

.fancyBlock{
  font-style: italic;
  color: rgb(73, 72, 72);
  border-left: black solid 2px;
}

@media(max-width: 930px){
  .DraftEditor-root{
    width: 800px;
  }
}
@media(max-width: 820px){
  .DraftEditor-root{
    width: 650px;
  }
}

@media(max-width: 730px){
  .DraftEditor-root{
    width: 600px;
  }
  .rich-editor{
    width: 600px
  }
}

@media(max-width: 675px){
  .DraftEditor-root{
    width: 400px;
  }
  .rich-editor{
    width: 400px
  }
}
@media(max-width: 475px){
  .DraftEditor-root{
    width: 275px;
  }
  .rich-editor{
    width: 275px
  }
}


.material-icons.md-36 { 
  font-size: 36px; 
  color: rgb(1, 12, 5)
}

@media(max-width: 780px){
  body{
    margin: 0 0 0 20px
  }
}

@import url('https://fonts.googleapis.com/css2?family=Redressed&family=Dancing+Script&family=Manrope&family=Open+Sans+Condensed:wght@300;700&display=swap');
