html{
  scroll-behavior: smooth;
}
body{
  height: 100vh;
  background: #102467;
}

.material-icons.md-36 { 
  font-size: 36px; 
  color: rgb(1, 12, 5)
}


@import url('https://fonts.googleapis.com/css2?family=Redressed&family=Dancing+Script&family=Manrope&family=Open+Sans+Condensed:wght@300;700&display=swap');
