html{
  scroll-behavior: smooth;
}
body{
  height: 100vh;
  background: #102467;
}

.rich-editor .DraftEditor-editorContainer {
  background: rgba(211, 211, 211,1);
  padding: .5rem;
} 
.DraftEditor-root{
  height: 700px;
  width: 900px;
  line-height: 2
}
.editor-field{
  border: 2px solid #808080;
  border-radius: 5px
}
.editor{
  background-color: #fff;
  color: black;
}

.fancyBlock{
  font-style: italic;
  color: rgb(73, 72, 72);
}

@media(max-width: 930px){
  .DraftEditor-root{
    width: 800px;
  }
  .rich-editor{
    width: 800px
  }
}

@media(max-width: 780px){
  .DraftEditor-root{
    width: 650px;
  }
  .rich-editor{
    width: 650px
  }
}
@media(max-width: 730px){
  .DraftEditor-root{
    width: 600px;
  }
  .rich-editor{
    width: 600px
  }
}

@media(max-width: 680px){
  .DraftEditor-root{
    width: 500px;
  }
  .rich-editor{
    width: 500px
  }
}
@media(max-width: 500px){
  .DraftEditor-root{
    width: 400px;
  }
  .rich-editor{
    width: 400px
  }
}
@media(max-width: 400px){
  .DraftEditor-root{
    width: 350px;
  }
  .rich-editor{
    width: 350px
  }
}

.material-icons.md-36 { 
  font-size: 36px; 
  color: rgb(1, 12, 5)
}


@import url('https://fonts.googleapis.com/css2?family=Redressed&family=Dancing+Script&family=Manrope&family=Open+Sans+Condensed:wght@300;700&display=swap');
